<!-- <ng-include src="'views/anime-nav.html'"></ng-include> -->
<button ng-click="vm.print()"> Click ME! </button>

<!-- Code for Iframe embed
<iframe width="640" height="400" scrolling="NO" 
        src="vm.video.src" frameborder="0" allowfullscreen></iframe>
        -->

<table class="table table-striped">
    <thead>
        <th>Episodse</th>
    </thead>
    <tbody>
        <tr ng-repeat="episode in vm.episodeList">
            <td><a ng-href="/#/episodes/{{ episode._id}}">{{episode.Title}}</a></td>
            <td>{{ anime.url }}</td>
            <td>
                <div class="button-group">
                    <a ng-href="/#/episodes/{{episode._id}}/edit" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a ng-href="/#/episodes/{{episode.Title}}/delete" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>